@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

html {
    margin: 4rem;
    font-family: "Source Sans Pro", sans-serif;
    background-color: #383838;
}

body {
    display: flex;
    flex-direction: column;
}

html, body {
    height: 100%;
}

content {
    align: center;
    flex: 1 0 auto;
}

.intro {
    text-align: center;
    color: white;
    background-color: #0f73ff;
    padding: 4rem;
    margin: 0;
}

.projects {
    display: grid;
    grid-template-columns: 1fr;
}

.project {
    width: auto;
    height: 16rem;
    display: flex;
}

.project img {
    width: auto;
    height: 100%;
}

footer {
    flex-shrink: 0;
}