@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

html {
    font-family: "Source Sans Pro", sans-serif;
    background-color: #383838;
}

body {
    display: flex;
    flex-direction: column;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    max-width: 100%;
    overflow-x: hidden;
}

header {
    margin-left: 1rem;
}

content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 0 auto;
}

.intro {
    position: relative;
    text-align: center;
    color: white;
    background-color: #0f73ff;
    padding: 2rem;
    width: 100%;
    height: 200px;
}

.intro::before, .intro::after {
    content: "";
    position: absolute;
    height: 100px;
    bottom: -70px;
    right: 0;
    left: 0;
    background: #383838;
    transform: skewY(-3deg);
}

.projects {
    display: grid;
    grid-template-columns: 1fr;
}

.project {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 16rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    background-color: #323232;
    border-radius: 0.5rem;
}

.project > div {
    margin: 0.25rem;
}

.project-info {
    display: flex;
    flex-direction: column;
    width: 32rem;
}

.project-img-left > .project-info {
    align-items: flex-start;
}

.project-img-right > .project-info {
    align-items: flex-end;
}

.project-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.project img {
    width: auto;
    height: 100%;
}

footer {
    margin-left: 1rem;
    flex-shrink: 0;
}