@import url("https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

html {
    font-family: "Source Sans Pro", sans-serif;
    background-color: #383838;
}

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    max-width: 100%;
    overflow-x: hidden;
}

h1 {
    margin: 1rem;
    font-size: 36px;
}

h2, h3, h4, h5, h6, p, svg {
    color: rgb(217, 217, 217);
}

header {
    padding: 1.5rem;
}

content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    margin-top: 2rem;
    padding: 1.5rem;
    background-color: #0f73ff;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(217, 217, 217);
    position: relative;
    text-align: center;
    background-color: #0f73ff;
    padding: 8rem 0 4rem 0;
    width: 100%;
    height: 300px;
}
 
.intro > h1 {
    font-size: 64px;
    margin: 1rem 0 0 0;
}

.intro-desc {
    z-index: 1;
    padding-top: 2rem;
    max-width: 600px;
}

.intro > img {
    z-index: 1;
    width: 224px;
    margin-top: 1rem;
    border: 1px solid #272727;
    border-radius: 8px;
    filter: drop-shadow(2px 4px 2px black);
}

.intro::before, .intro::after {
    content: "";
    position: absolute;
    height: 175px;
    bottom: -100px;
    right: 0;
    left: 0;
    background: #383838;
    transform: skewY(-3deg);
}

.socials-container {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 4rem;
    padding-bottom: 1rem;
}

.socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.social-link {
    text-decoration: none;
}

.social {
    font-size: 72px;
}

.projects-container {
    text-align: center;
    background-color: rgb(138, 138, 138);
    padding: 0 64rem 2rem 64rem;
}

.projects {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.project {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: auto;
    height: 525px;
    padding: 0.5rem;
    background-color: #323232;
    border: 2px solid #272727;
    border-radius: 16px;
    filter: drop-shadow(4px 8px 4px black);
}

.project-image {
    width: 950px;
}

.project-image > img {
    max-width: 100%;
    height: 100%;
    border: 2px solid #272727;
    border-radius: 8px;
}

.project-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    width: 400px;
}

.project-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.project-title-container {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 1rem;
    margin: 0.5rem 0;
}

.project-title {
    font-size: 24px;
    margin: 0;
}

.project-types {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.project-tags {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    margin: 0.5rem 0;
}

.project-tag {
    margin: 0;
    padding: 2px 4px;
    color: black;
    background-color: #8a8a8a;
    border-radius: 2px;
    text-align: center;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
}

.project-tag:hover {
    cursor: default;
    transform: scale(1.1);
}

.project-desc {
    font-size: 18px;
}

.project-links {
    position: absolute;
    bottom: 0.5rem;
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.btn {
    font-weight: bolder;
    background-color: #0f73ff;
    color: rgb(217, 217, 217);
    border-radius: 8px;
    filter: drop-shadow(2px 4px 2px black);
    padding: 0.25rem 1rem;
    border: 1px solid #272727;
    text-decoration: none;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
}

.btn:hover {
    background-color: #0c4eac;
    cursor: pointer;
}

.separator {
    border-left: 2px solid black;
    border-radius: 1px;
}

.skills-container {
    text-align: center;
}

.skills-title {
    color: rgb(217, 217, 217);
}

.skills {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2rem;
    margin-top: 2rem;
}

.skill {
    font-size: 64px;
    background-color: rgb(33, 33, 33);
    border-radius: 4px;
    padding: 8px;
    filter: drop-shadow(2px 4px 2px black);
}

img.skill {
    width: 64px;
}

@media only screen and (max-width: 1450px) {
    .project {
        flex-direction: column;
        gap: 0.5rem;
        width: 337.5px;
        height: 725px;
    }
    
    .project-image {
        width: 325px;
    }
    
    .project-info {
        width: 325px;
    }
    
    .project-title {
        font-size: 22px;
        margin: 0;
    }

    .project-tags {
        width: 325px;
    }
    
    .project-tag {
        font-size: 16px;
    }
    
    .project-desc {
        font-size: 16px;
    }
}

@media only screen and (max-width: 800px) {
    h1 {
        font-size: 28px;
    }

    .intro {
        padding: 10rem 0 4rem 0;
        height: 200px;
    }

    .intro > h1 {
        font-size: 48px;
    }

    .intro-desc {
        font-size: 12px;
        width: 300px;
        max-width: 600px;
    }
    
    .intro > img {
        width: 192px;
    }

    .intro::before, .intro::after {
        height: 125px;
        bottom: -50px;
    }

    .socials {
        gap: 1rem;
        margin-top: 2rem;
    }
    
    .social {
        font-size: 48px;
    }

    .skills {
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
    }

    .skill {
        font-size: 48px;
    }

    img.skill {
        width: 48px;
    }
}